.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-inner {
    text-align: center;
    color: #fff;
}

.countdown-item {
    padding: 1em;
    background: #000;
    white-space: nowrap;
    display: flex;
}

.countdown-datetime {
    margin: 0 20px;
    flex-basis: auto;
}

.countdown-datetime p {
    font-weight: 700;
    font-size: 5vh;
    line-height: 0;
}

.countdown-expired {
    background-color: red;
}